//colors
@darkgreen : #2A5D67;
@green : #4AE3B5;
@darkblue : #171332;
@gray: #AAAAAA;



*{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Ubuntu', sans-serif;
    
    .Header{
        background-color: @green;
        padding-bottom: 0;
        height : 7.85em;
        font-family: 'Ubuntu', sans-serif;
        color : @darkgreen;
        .headerItem{
            .linkWrap{
                display:flex;
                flex-direction: column;
                justify-content: center;
                .headerText{
                    text-align: center;
                    color : @darkgreen;
                }
            }
        }
    }
    .Footer{
        // font-family: 'Ubuntu', sans-serif;
        background-color: @darkgreen;
        padding : 2em 0 2em 0;   
        
        .iconText{
            color : @green;
        }
    }

    .BugHeaderContainer{
        // font-family: 'Ubuntu', sans-serif;

        .TitleCol{
            padding-top: 4em;
            .title{
                font-size: 70px;
            }
        }
    }


    .FishHeaderContainer{
        // font-family: 'Ubuntu', sans-serif;

        .TitleCol{
            
            padding-top: 4em;
            .title{
                font-size: 70px;
            }
        }
    
    }
    .card{
        margin-bottom : 2em;
        .stats2{
            display: flex;
            justify-content : space-between;
            align-items: center;
            font-weight: 3em;
        }
    }

    .timer{
        padding-left : 5em;
    }
    
    .bellCard{
        padding-bottom : 2em;
    }
    .sellAllCard{
        padding-top : 2em;
    }

    .EmptySummary{
        margin-bottom : 17.75em;
    }
    // .summaryText{
    //     font-size: 20px;
    // }


    .PocketContainer{
        font-family: 'Ubuntu', sans-serif;
        display: flex;
        flex-direction: column;
        
        .PocketCol{
            font-family: 'Ubuntu', sans-serif;
            padding-top: 2em;
            color : @darkgreen;
            font-size: 2em;

        }
    }
}