
.turnip, .bugnet, .fishrod, .bells{
    width: 15em;
    margin-bottom: 4em; 
}
.turnip{
    margin-bottom: 1em; 
}
.fishrod{
    width: 17.5em;
}

.profileturnip, .profilebugnet, .profilefishrod, .profilebells, .profilelogo{
    width: 10em;
}

.bugIcon, .fishIcon{
    width: 10em;
}

.bugIconSmall, .fishIconSmall{
    width: 8em;
}

.logo{
    width : 10em;
}

.tinylogo{
    width : 1.5em;
    margin-left : 10px;
}

.magnifyingGlass, .key{
    width : 2em;
    padding : 1px;
}

.twitchIcon {
    width : 1em;    
    margin-left : 10px;
}
.namedLogoContainer{
    padding : 0;
    margin: 0;
    .namedLogo{
        width : 50em;
    }
}
.hero{
    margin: 2em 0.5em 0.5em 0.5em;
    width: 101em;
}

.heroTop, .heroBottom{
    width: 101em;
}

.CogContainer{
    line-height: 0;
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}